@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;1,100&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #342922;
    font-weight: 100;
    color: #9B9B9B;
    font-size: 1rem;
}

@media (min-width: 1281px) and (max-device-width: 1920px) {
    .container {
        max-width: 1200px;
    }

    .searchbar {
        right: 17rem;
    }
}

@media (min-width: 1024px) and (max-device-width: 1281px) {
    .container {
        max-width: 1100px;
    }

    .searchbar {
        right: 7rem;
    }
}

.btn-back {
    font-size: 18px;
    position: absolute;
    right: 2rem;
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 25px 15px 15px 15px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
}

.btn-back:hover {
    color: #FFFFFF;
    text-decoration-color: #FFFFFF;
}

figure {
    padding-bottom: 2rem;
}

.revelisNew .nav-link::after {
    font-size: 10px;
    content: 'New';
    color: white;
    background-color: #342922;
}

h2 {
    border-bottom: 6px solid #9B9B9B;
    padding-top: 0.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3.8rem;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 0.2em;
    padding-bottom: 1rem;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #4A4A4A;
    text-decoration: none;
}

h2 a, h2 a:hover {
    color: inherit;
    text-decoration: none;
}

.vin-link a {
    text-decoration: none;
}

.vin-link:hover {
    text-decoration: none;
    color: #4A4A4A;
}

h3 {

    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #F2F2F2;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3.7rem;
}

.revelis h3 {
    font-family: "Open Sans";
    color: #FFF;
    font-size: 2.2rem;
    font-weight: 700;
}

h5 {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    padding-bottom: 0.4rem;
}

.table {
    color: #9B9B9B;
}

table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: none !important;
    border-bottom: 1px solid #dee2e6;
    font-size: 1.3rem;
}

th {
    font-weight: 300;
}

.page-title {
    color: #9B9B9B;
    font-size: 70px;
    border-bottom: 3px solid #9B9B9B;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5rem;
    letter-spacing: 0.1rem;
}

.page-header {
    padding-bottom: 3rem;
}

blockquote {
    color: #E5D07C;
    font-style: italic;
    padding-bottom: 1.5rem;
}

.bottom-0 {
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
}

#citation blockquote {
    color: white;
    font-style: italic;
    font-weight: 500;
}

#citation {
    margin: 7% 1% 10% 12%;
    padding: 5px 5%;
    border-left: 1px solid #BCA454;
}

.auteur {
    color: #BCA454;
}

#oenotoursime {
    padding-bottom: 9rem;
}

#oenotoursime .oenoIntro {
    max-width: 585px;
    width: 80%;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 300;
    line-height: 1.9em;
    margin: 0 auto 4em;
    padding-top: 1rem;
    padding-bottom: 8rem;

}

.section-vins {
    padding-bottom: 5rem;
}

.imgcontainer {
    position: relative;
}

/* spe templates Nos Hommes */

#nosHommes .imgs1 {
    position: absolute;
    width: 22rem;
    right: 0;
    z-index: 10 !important;
}

#nosHommes .imgs1 .image-caption {
    color: #FEFEFE;
    position: absolute;
    top: 2rem;
    left: 1rem;
    font-size: 0.8rem;
}

#nosHommes .imgs2 {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 29rem;
    z-index: 1 !important;
}

#nosHommes .imgs2 .image-caption {
    color: #FEFEFE;
    position: absolute;
    top: 7rem;
    left: 10rem;
    font-size: 0.8rem;
}

#nosHommes .imgs3 {
    position: absolute;
    width: 22rem;
    z-index: 10 !important;
    top: 16rem;
    right: 0;
    /*margin-top: -2rem;*/
}

#nosHommes .imgs3 .image-caption {
    color: #FEFEFE;
    position: absolute;
    top: 4rem;
    left: 1rem;
    font-size: 0.8rem;
}

#nosHommes .imgs4 {
    position: absolute;
    width: 18rem;
    z-index: 2 !important;
    top: 27rem
    /*margin-top: -5rem;*/
}

#nosHommes .imgs4 .image-caption {
    color: #FEFEFE;
    position: absolute;
    top: 5.7rem;
    right: 1rem;
    font-size: 0.8rem;
}

/*
    #nosTerritoire
 */

#nosTerritoire .imgs1 {
    position: absolute;
    width: 25rem;
    right: 0;
    z-index: 10 !important;
}

#nosTerritoire .imgs2 {
    position: absolute;
    top: 9rem;
    left: 0;
    width: 27rem;
    z-index: 1 !important;
}

#nosTerritoire .imgs3 {
    position: absolute;
    width: 25rem;
    z-index: 10 !important;
    top: 21rem;
    right: 0;
}

#nosTerritoire .imgs4 {
    position: absolute;
    width: 18rem;
    z-index: 2 !important;;
    top: 37rem
}

#section1 {
    position: relative;
    z-index: 0;
}

#bannerNosHommes {
    position: relative;
    z-index: 0;
    padding: 5rem 0 1rem 0;
}

#bannerNosHommes .image-caption {
    color: #FEFEFE;
    position: absolute;
    top: 15rem;
    left: 16rem;
}

#nosTerritoire {
    min-height: 50rem;
}

#nos-vins-link {
    margin-top: -1rem;
}

.border-background {
    border-left: solid 10px #342922 !important;
    border-right: solid 10px #342922 !important;
}

.section_block {
    padding-bottom: 2.5rem;
}

.border-right-1 {
    border-right: 1px solid #979797;
}

.border-right-2 {
    border-right: 2px solid #979797;
}

.fiche-vin-title {
    color: #F2F2F2;
    font-size: 70px;
    border-bottom: 3px solid #9B9B9B;
    font-weight: unset;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
}

.vin-block {
    min-height: 3.2rem;
}

.vin-block-spe {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    min-height: 3rem;
}

.vin-title {
    font-style: italic;
    text-align: center;
}

.vin-appellation {
    font-weight: 800;
    text-align: center;
}

.vin-blanc {
    background-color: #E5D07C;
    color: #4A4A4A;
}

.vin-rouge {
    background-color: #7E3F3F;
    color: #F3F2F2;
}

.vin-rose {
    background-color: #d79481;
    color: #F3F2F2;
}

.vin-cremant {
    background-color: #E5D07C;
    color: #4A4A4A;
}

.vin-cremant:hover,
.vin-rose:hover,
.vin-rouge:hover,
.vin-blanc:hover {
    background-color: #FFFFFF;
}

.vin-rose:hover:hover,
.vin-rouge:hover:hover {
    color: #4A4A4A;
}

.promo {
    background-color: #9B9B9B;
    color: #FFF;
}

.promo-img {
    height: 100%;
    /*background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

#nousRencontrer h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3.8rem;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 0.2em;
    padding-bottom: 1rem;
}


.dropdown-menu {
    white-space: nowrap;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    background-color: #D8D8D8;
    border-radius: 0;
    color: #373437;
    font-family: "Jaapokki";
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .9rem;
    border: none;
    transition: all .4s ease-in-out;
    line-height: 1;
    padding: .7rem .75rem .4rem;
}

.btn-primary:hover {
    background-color: #E5D07C;
}

.nav-link {
    color: #4A4A4A;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
}

.nav-link:hover {
    color: #000000;
}

/* Hamburger */
.hamburger1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    cursor: pointer;
    border: 1px solid #4A4A4A;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-top: 28%;
}

.hamburger1 div {
    background-color: #4A4A4A;
    position: relative;
    width: 50%;
    height: 2px;
    margin-left: 25%;
    margin-top: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hamburger1 div:first-child {
    margin-top: 0;
}

#toggle1 {
    /*display: none;*/
}

.dropdown.show .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 8px;
}

.dropdown.show .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -2px;
}

.dropdown.show .hamburger1 .bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
}

#toggle1:checked ~ .menu1 {
    height: 340px;
}

#assemblage > ul > li {
    color: #E5D07C;
    font-size: 1.1rem;
    font-style: italic;
    list-style: none;
    font-weight: 300;
}

#assemblage > ul > li:before {
    content: "·";
    font-size: 1.5rem;
    font-weight: 400;
    vertical-align: middle;
    color: #E5D07C;
}

.sub-menu li {
    display: inline;
    padding-right: 1em !important;
}

.heading {
    font-size: 1.05rem;
    line-height: 27px;
}

.home-image-square {
    float: left;
    margin: 0;
    border: 0;
    width: 50%;
    padding-top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background-color: #4a4a4a;
    font-family: "Jaapokki";
    font-size: 1em;
    position: relative;
    z-index: 1;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    list-style: none;
    padding: 0.5em 0;
}

.footer a {
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none !important;
    transition: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    transition: color .5s !important;
    letter-spacing: 2px;
}

.footer a:hover {
    color: #ffffff !important;
    transition: color .5s !important;
}

.footer li.espace-adherent {
    border-bottom: 1px solid #fff !important;
    display: inline-block;
}

.footer li.espace-adherent a {
    color: #fff;
}


@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.card {
    background: transparent;
    border: none;
}

.card-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

.card-text {
    font-size: 1rem;
}

.carousel-control-next {
    float: right !important;
    padding-left: 1.2rem;
    right: unset;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.3333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.list-group-item {
    background-color: transparent;
    border: 1px solid #979797;
}

ul, li {
    list-style: none;
}

.wrap-balls {
    text-align: center;
}

.wrap-balls ul {
    list-style: none;
    text-align: center;
}

.wrap-balls ul li {
    width: 280px;
    height: 280px;
    background: #979797;
    border-radius: 50%;
    margin: 30px 20px 0 20px;
    display: inline-block;
    text-align: center;
    color: #342922 !important;
    overflow: hidden;
    padding: 0 10px;
}

.wrap-balls ul li:hover {
    background: #fff;
}

.wrap-balls li img {
    width: 40%;
    padding: 60px 0 0 0;
}

.wrap-balls p {
    font-weight: 500;
    color: #342922 !important;
    margin-top: 10px;
}

.wrap-history ul {
    list-style: none;
}

.wrap-history ul li {
    width: 31%;
    margin-bottom: 30px;
    text-align: center;
    padding: 25px 20px 0 20px;
    color: #342922;
    background: #D8D8D8;
    display: block;
    float: left;
}

.wrap-history ul li p {
    color: #342922 !important;
    font-weight: bold !important;
    min-height: 80px;
}

.wrap-history ul li h5 {
    font-family: 'Barlow';
    font-size: 2.5em;
    font-weight: 100;
    margin-bottom: 15px !important;
    color: #342922;
}

.wrap-history .middle {
    margin-left: 30px;
    margin-right: 30px;
}

.wrap-arrow ul li {
    width: 30%;
    margin-right: 2%;
    display: inline-table;
    background: url('/wp-content/uploads/2021/01/arrow.png') left top no-repeat;
    padding: 0 0 0 50px;
    margin-top: 30px;
}

.wrap-arrow h5 {
    font-size: 1rem;
    font-weight: 1000;
    text-transform: uppercase;
    text-align: center;
}

/* design chartjs*/
.ts-graphic .ts-label {
    position: absolute;
    display: inline-block;
    text-align: center;
    max-width: 35%;
    max-height: 35%;
    overflow: hidden;
    color: #FFFFFF;
    font-family: "Barlow";
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.3rem;
    transform: translate(-50%, -50%);
}

.ts-graphic {
    padding: 15%;
    margin: 15%;
    position: relative;
}

a.nuiton-link {
    padding: 10px 15px;
    border: 3px solid #fff;
    color: #fff;
    font-size: 14px;
    font-family: "Barlow";
    text-decoration: none;
    box-shadow: none !important;
    width: max-content;
}

a.nuiton-link:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff;
}

/*
 POPUP
 */

.tbrightcontent {
    height: 400px;
    padding: 40px !important;
    background: url("/wp-content/uploads/2021/01/model-legal.jpg") center no-repeat;
    text-align: left;
    font-size: 15px;
    z-index: 9999999;
    background-size: cover;
}

.tthebutton {
    margin: 0 !important;
    text-align: left !important;
    font-size: 22px !important;
}

h3.termstitle {
    display: none;
}

.tthebutton {
    margin: 0 !important;
    text-align: left !important;
    font-size: 22px !important;
}

.tthebutton input[type="submit"], .tthebutton input[type="submit"] + input {
    background: #e5d17b !important;
    border-radius: 4px;
    color: #555;
    padding: 15px 20px 13px 20px !important;
    box-shadow: none;
    border: transparent;
    font-size: 11px;
    font-weight: 100;
    text-transform: uppercase;
}

.termscontentwrapper h4 {
    font-family: 'Barlow';
    font-size: 32px !important;
    font-weight: 100 !important;
    -webkit-font-smoothing: antialiased;
    color: #f5f5f5;
}

.termspopupcontainer p {
    font-size: 1.2em !important;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    color: #f5f5f5;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    padding: 7px 40px;
    width: 100% !important;
    color: #f5f5f5;
}

/* SEARCH BAR */
.searchbar {
    position: absolute;
    top: 20rem;
}

.searchbar span {
    font-family: "Barlow";
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 4em;
    text-transform: uppercase;
    cursor: pointer;
}

#search-zone {
    overflow: hidden;
    position: absolute;
    background-color: #000;
    top: -15px;
    padding-top: 1em;
    right: -4em;
    z-index: 99;
    opacity: 0;
    padding-left: 1rem;
    padding-right: 2rem;
    min-width: 20rem;
    transition: height .5s, opacity .2s;
}

#search-zone:hover {
    padding-left: 1rem;
    padding-right: 2rem;
    min-width: 20rem;
    opacity: 1;
    transition: height 1s, opacity .2s;
}

#search-zone a {
    display: block;
    border-top: 1px solid;
    border-color: #9B9B9B;
    line-height: 1.8em;
}

.ico-rs-footer {
    font-size: 1.4rem;
}

.ico-rs-header i {
    font-size: 1rem;
}


/* Actualités */
/*========*/
body.single-post .single-featured-image-header,
body.single-post article footer,
body.single-post .nav-links {
    display: none;
}

article {
    margin-left: 100px;
    position: relative;
    /*display: table;*/
}

article .entry-header {
    padding-bottom: 0.7em !important;
}

article .entry-header .entry-meta {
    /*display: table-cell;*/
}

article .entry-header .entry-title {
    display: table-cell;
}

article a {
    color: var(--main-color) !important;
    text-decoration: underline;
    transition: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

article .entry-header .entry-meta {
    position: absolute;
    float: left;
    left: -90px;
    top: 10px;
    width: 65px;
    overflow: hidden;
    padding-right: 10px;
    border-color: var(--main-color);
    border-right: 1px solid;
    vertical-align: bottom;
    font-family: 'Abril Fatface', cursive;
    display: block;
    font-size: 1.4em;
    font-weight: normal;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
}

article .entry-header .entry-title {
    text-transform: none !important;
    margin-left: 20px;
    vertical-align: bottom;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-weight: 400;
}

article .entry-header a {
    text-decoration: none !important;
}

article .entry-header .edit-link {
    display: none; /* lien edition article*/
}

article .entry-content {
    font-size: 1rem;
    font-weight: 300;
}

article .post-thumbnail {
    text-align: center;
    margin-bottom: 0.8em;
}

article .post-thumbnail img {
    width: 100%;
    height: auto;
    max-height: 400px;

}

article a.more-link {
    display: inline-block;
    width: auto;
    text-transform: none;
    padding: 10px 20px;
    font-weight: 400;
    border: 2px solid;
    border-color: var(--main-color);
    color: var(--main-color) !important;
    margin-top: 20px;
}

article a.more-link:before {
    margin: 0 !important;
}

article ul li {
    list-style: disc;
}

/* //////////////// Image catégorie article
//////////////////////////////////////////// */

article .entry-header .entry-meta .ts_art_day {
    display: none;
}

.category-cat-2 time, .category-cat-1 time {
    height: 80px;
}

article .entry-meta:after {
    height: 50px;
}

/*#sidebar .widget-title, #sidebar a {*/
/*    color: var(--main-color);*/
/*}*/

/*#sidebar a:hover {*/
/*    color: #FFFFFF;*/
/*}*/


/* Sidebar */
/*========*/
#sidebar {

}

#sidebar .widget-title {
    text-align: center;
    color: var(--main-color);
}

#sidebar ul {
    border-color: var(--main-color);
    border-top: 1px solid;
    padding-left: 0;
}

#sidebar ul li {
    position: relative;
    border: none;
    border-color: var(--main-color);
    border-bottom: 1px solid;
    padding: .5rem 0;
    /*padding-bottom: 1em;*/
}

#sidebar a {
    color: var(--main-color);
    /*text-transform: uppercase;*/
    box-shadow: none;
    text-decoration: none !important;
    transition: color .5s;
}

#sidebar a:hover {
    color: #ffffff;
    transition: color .5s;
}


/*Single Post*/
.single_post_cross {
    font-size: 3rem;
    cursor: pointer;
}